:root {
  --primary-brand: #fbdf57;
  --bg-dark: #0f172a;
  --bg-dim: #1e293b;
  --bg-brand: #eab308;
}

* {
  font-family: "Inconsolata", monospace;
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  color: var(--solid-white);
  box-sizing: border-box;
}
.btn-solid-primary {
  background-color: var(--primary-brand);
  color: var(--solid-black);
}
.btn-solid-primary:hover {
  color: var(--solid-white);
  background-color: var(--bg-brand);
}

.btn-outlined-secondary:hover {
  background-color: var(--bg-dim);
}
