.vertical-card {
  min-width: 17rem;
  border: 2px solid var(--bg-dim);
  border-radius: 10px;
  padding: 5px;
}
.card-shadow {
  box-shadow: 0;
  transition: box-shadow 0.5s;
}
.card-shadow:hover {
  box-shadow: -2px -1px 75px -5px var(--solid-black);
}
.link-cta {
  margin-top: auto;
}
.categories-cta {
  background-color: var(--primary-brand);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 8px 4px;
}
.categories-cta:hover {
  background-color: var(--bg-brand);
  color: var(--solid-white);
}
.img-categories {
  object-fit: fill;
}
